    <hr />
    <address>
        MirrorJson version {{version}}.
        Idea, design and implementation by Arne Bakkebø, Making Waves in 2017
        under the <a href="/mirrorjson/LICENSE.md" target="_blank">MIT</a> license.
    </address>
    </body>
</html>
