<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <title>MirrorJson Admin</title>

        {{#if isEditor}}
            <link href="/jsoneditor/dist/jsoneditor.min.css" rel="stylesheet" type="text/css">
            <script src="/jsoneditor/dist/jsoneditor.min.js"></script>
        {{/if}}
    </head>
    <body>
        <h1><a href="/mirrorjson">MirrorJson Admin</a></h1>

        <p>{{status}}</p>

