{{> header status=status }}

<h2>Import json file to '<a href="/mirrorjson/{{selectedDomain}}">{{selectedDomain}}</a>'</h2>

<form method="POST" action="/mirrorjson/{{selectedDomain}}/import" enctype="multipart/form-data">
    <label>File:</label>
    <input type="file" name="jsonfile" value="" accept=".json" />
    <input type="submit" value="Import from json file" />
</form>

<p>Be aware: any matching path hashes from the import will overwrite data currently in the database.</p>

{{> footer }}
